
/* FONTS */
.agency-fb {
    font-family: 'Agency FB','Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
.ocr-extended{
    font-family: "OCR A Extended";
    font-weight: normal;
}
.gill-sans{
    font-family: "Gill Sans MT";
    font-weight: bold;
}

/* ELEMENTOS HTML */
html{
    background-image: url(2.Imagenes-png/Home/2.Home-v3-1920x1080.png);
    background-attachment: fixed;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.zero{
    padding:0px;
    margin:0px;
    border: 0px;
}
header{
    display: block;
    width: 100%;
    height: 30px;
}
#nav-bar{
    width: 100%;
    position:fixed;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color:white;
    z-index: 2000;
    padding: 0px; 
    margin: 0px;
    top: 0px; 
}
#logo-Theratronics{
    height: auto; 
    width: auto; 
    max-width: 350px; 
    max-height: 30px;
    margin: 5px;
}
.internal-link{
    color:rgb(0,51,102);
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 5px;
}


#inicio{
    padding-top: 20%;
    padding-bottom: 20%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#texto{
    width: 50%;
}
#p1{
    font-size:30px;
    color:white;
    text-align: left;
}
#p2{
    font-size:70px;
    color:aqua;
    text-align: center;
}
#p3{
    font-size:30px;
    color:white;
    text-align: end;
    
}
h3,h5{
    text-align: center;
}
.container{
    width:100%;

}

#nosotros{
    background-color: white;
}
#servicios{
    background-color: teal;
}
#sub-servicios{
    display:flex;
    justify-content: space-around;
    align-content: space-around;
    
}   
.service-description{
    border-color: thistle;
    border-width: 10px;
}