
/* FONTS */
.agency-fb {
    font-family: 'Agency FB','Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
.ocr-extended{
    font-family: "OCR A Extended";
    font-weight: normal;
}
.gill-sans{
    font-family: "Gill Sans MT";
    font-weight: bold;
}
::-webkit-input-placeholder { color:teal;} 
/* ELEMENTOS HTML */
html{
    background-image: url(2.Imagenes-png/Home/2.Home-v3-1920x1080.png);
    background-attachment: fixed;
}
header{
    display: block;
    width: 100%;
    height: 30px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h5{
    text-align: center;
    font-size: large;
}    
h3{
    width: 100%;
    color:rgb(0,51,102);
    font-size: 80px;
    text-align: center;
    margin-bottom: 2%;
}
input{
    font-size: large;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: teal;
    border-width: 1px;
    border-radius: 5px;
    background-color:rgb(182, 252, 248);
    color:rgb(0,51,102);
    font-family: 'Agency FB','Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    width: 300px;
}
/*CLASES */
.zero{
    padding:0px !important;
    margin:0px !important;
    border: 0px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}
.internal-link{
    color:rgb(0,51,102);
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 5px;
}
.container{
    font-family: 'Agency FB','Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color:rgb(0,51,102);
    padding-bottom: 5%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cincuenta{
    width: 50%;
    opacity:1;
    transition: opacity 2s ease-in-out;

}
.d0{
    opacity:0;
}
.oculto{
    display:none;
}

.tres-linea{
    display:flex;
    justify-content: space-around;
    width: 80%;
    padding-top: 5%;
}
.let-peque{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    
}
.let-grandes{
    font-size: 60px;
    font-weight: 600;
    text-align: center; 
}
.service-description{
    background-color: white;
    width: 80%;
    color: teal;
    padding: 3%;
    margin-right: 3%;
}
.sub-container{
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top:5%;
}   
.font-white{
    color:white;
}
#izq{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    
}
#menssage{
    width: 400px;
    
}
#submit{
    display:block;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
    padding-top:5px;
    border-radius: 10px;
    
    margin:20px auto;
    color:white;
    background-color: teal;

}
/* ID*/
#nav-bar{
    width: 100%;
    position:fixed;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color:white;
    z-index: 2000;
    padding: 0px; 
    margin: 0px;
    top: 0px; 
}
#logo-Theratronics{
    height: auto; 
    width: auto; 
    max-width: 350px; 
    max-height: 30px;
    margin: 5px;
}
#inicio{
    padding-top: 15% !important;
    padding-bottom: 15% !important;
}
#p1{
    font-size:30px;
    color:white;
    text-align: left;
}
#p2{
    font-size:90px;
    color:aqua;
    text-align: center;
}
#p3{
    font-size:30px;
    color:white;
    text-align: end;
}
#nosotros{ 
    background-color: white;
}
#historia{
    width: 70%;
    background-color: rgba(2, 255, 242, 0.2);
    padding: 5%;
    font-size: 25px;
}
#servicios{
    background-color: rgb(182, 252, 248);
}
#contactanos{
    background-color:rgb(0,51,102);
}







