/* FONTS */
.agency-fb {
    font-family: 'Agency FB','Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
.ocr-extended{
    font-family: "OCR A Extended";
    font-weight: normal;
}
.gill-sans{
    font-family: "Gill Sans MT";
    font-weight: bold;
}
::-webkit-input-placeholder { 
    color:teal;
} 

/* ELEMENTOS HTML */
html{
    background-image: url(2.Imagenes-png/Home/2.Home-v3-1920x1080.png);
    background-attachment: fixed;
}
header{
    display: block;
    width: 100%;
    height: 30px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h5{
    text-align: center;
    font-size: large;
}    
h3{
    width: 100%;
    color:rgb(0,51,102);
    font-size: 80px;
    text-align: center;
    margin-bottom: 2%;
}
input{
    font-size: large;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: teal;
    border-width: 1px;
    border-radius: 5px;
    background-color:rgb(182, 252, 248);
    color:rgb(0,51,102);
    font-family: 'Agency FB','Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    width: 300px;
}
/*CLASES */
.zero{
    padding:0px !important;
    margin:0px !important;
    border: 0px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}
.internal-link{
    color:rgb(0,51,102);
    text-decoration: none;
    font-size: 25px;
    padding-left: 10px;
    
}
.container{
    font-family: 'Agency FB','Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color:rgb(0,51,102);
    padding-bottom: 5%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cincuenta{
    width: 50%;
    opacity:1 ;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.d0{
    opacity:0!important;
}
.oculto{
    display:none;
}
.tres-linea{
    display:flex;
    justify-content: space-around;
    width: 80%;
    padding-top: 5%;
}
.let-peque{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.let-grandes{
    font-size: 60px;
    font-weight: 600;
    text-align: center; 
}
.service-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    color: teal;
    padding: 3%;
    margin: 3%;
    
}
.sub-container{
    display:flex;
    justify-content: center;
    width: 100%;
    
}   
.font-white{
    color:white;
}
.imagen-bck{
    opacity:1;
    z-index: -1;
    width: 250px;
    height: 250px;
    
}
.imagen{
    display:block;
    position: absolute;
    z-index :3000;
    width: 250px;
    height: 250px;
}
.imagen:hover{
    opacity:0;
}
.sub-horario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}
/* ID*/
#nav-bar{
    width: 100%;
    position:fixed;
    display: flex; 
    justify-content: space-between!important;
    align-items: center;
    background-color:white;
    z-index: 6000;
}
#logo-Theratronics{
    height: auto; 
    width: auto; 
    max-width: 350px; 
    max-height: 30px;
    margin: 5px;
}
#inicio{
    padding-top: 15% !important;
    padding-bottom: 15% !important;
}
#p1{
    font-size:30px;
    color:white;
    text-align: left;
}
#p2{
    font-size:90px;
    color:aqua;
    text-align: center;
}
#p3{
    font-size:30px;
    color:white;
    text-align: end;
}
#nosotros{ 
    background-color: white;
}
#historia{
    width: 70%;
    background-color: rgba(2, 255, 242, 0.2);
    padding: 5%;
    font-size: 25px;
}
#servicios{
    background-color: rgb(182, 252, 248);
}
#contactanos{
    background-color:rgb(0,51,102);
    padding-bottom: 0%!important;
}
#izq{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}
#menssage{
    width: 400px;
}
#submit{
    display:block;

    padding-bottom: 5px;
    padding-top:5px;
    border-radius: 10px;
    margin:20px auto;
    color:white;
    background-color: rgb(0, 186, 199);
}
#horario{
    color:white;
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    display:flex;
    justify-content: space-around;
    font-size: large;
}
.info ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#whatsapp{
    width: 25px;
    margin-top:5px;
}
#internal-link-section{
    float: right;
    padding-right: 2%;

}


/* LAPTOP!!!!! */
@media (max-width: 1280px) {

    input{
        font-size: large;
        border-width: 1px;
        border-radius: 5px;
        width: 200px;
    }
    /*CLASES */
    .internal-link{
        font-size: 22px;
    }
    .service-description{
        width: 80%;
    }
    .sub-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
    .cincuenta{
        width: 70%;
    }
    /* ID*/
    #p2{
        font-size:80px;
    }
    #menssage{
        width: 300px;
        height: 120px;
    }
    .inputs{
        display: flex;
        flex-direction: row!important;
        margin:0px;
    }
    .info ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #internal-link-section{
        float: right;
        padding-right: 2%;
        padding-bottom: 1%;
    }
}

/* TABLET!!!!! */
@media (max-width: 600px) {
    input{
        width: 100%;
    }
    .internal-link{
        font-size: 15px;
        padding-left: 5px;
    }
    #p1{
        font-size:20px;
    }
    #p2{
        font-size:60px;
    }
    #p3{
        font-size:20px;
    }
    h3{
        font-size: 50px;
    }
    .let-peque{
        font-size: 18px;
    }
    .let-grandes{
        font-size: 40px;
    }
    .service-description{
        width: 70%;  
    }
    .cincuenta{
        width: 90%;
    }
    #logo-Theratronics{
        max-width: 150px; 
        max-height: 30px;
    }
    #historia{
        font-size: 16px;
    }
    #menssage{
        width: 150px;
    }
}
/* CELULARES */
@media (max-width: 450px){
    h3{
        font-size:30px;
    }
    h5{
        font-size: 13px;
    } 
    input{
        font-size: 10px;
        padding-left:5px;
        padding-right: 5px;
        width: 70px;
    }
    /*CLASES */
    .internal-link{
        font-size: 11px;
        padding-left: 5px;
    }
    .sub-horario{
        font-size: 11px!important;
    }
    .imagen-bck{
        width: 200px;
        height: 200px;
    }
    .imagen{
        width: 200px;
        height: 200px;
    }
    /* ID*/
    #logo-Theratronics{
        max-width: 100px; 
        max-height: 30px;
    }
    #p1{
        font-size:18px;
    }
    #p2{
        font-size:40px;
    }
    #p3{
        font-size:18px;
    }
    #historia{
        font-size: 15px;
    }
    .let-peque{
        font-size: 14px;
    }
    .let-grandes{
        font-size: 30px;
    }
    #menssage{
        width: 150px;
        height: 90px;
    }
    #whatsapp{
        width: 8px;
    }
}